<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/events.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav>
      <span class="logo">Schoodle</span>
    </nav>

    <h2>Event Title</h2>

    <p>Created by: </p>
    <p>Location: </p>
    <p>Details: </p>

<br></br>

    <table class="event-table">
  <tr>
    <th></th>
    <th>Apr 11 Wed 12:15 AM 1:00 AM</th>
    <th>Apr 11 Wed 3:15 AM 4:45 AM</th>
    <th>Apr 18 Wed 12:15 AM 1:00 AM</th>
    <th>Apr 19 Thu 3:15 PM 5:00 PM</th>
    <th>Apr 20 Thu 4:15 PM 6:00 PM</th>
  </tr>
  <tr>
  <td>x Participants</td>
  <td>Check</td>
  <td><i class="fas fa-check"></i></td>
  <td>Check</td>
  <td>Check</td>
  <td>Check</td>
</tr>
<tr>
  <td>Person</td>
  <td>Check</td>
  <td>Check</td>
  <td>Check</td>
  <td><i class="fas fa-check"></i></td>
  <td>Check</td>
</tr>
<tr>
  <td>GucciYizheSwag</td>
  <td>Check</td>
  <td><i class="fas fa-check"></i></td>
  <td><i class="fas fa-check"></i></td>
  <td>Check</td>
  <td>Check</td>
</tr>
<tr>
  <td>Dominicbbbb</td>
  <td><i class="fas fa-check"></i></td>
  <td><i class="fas fa-check"></i></td>
  <td>Check</td>
  <td>Check</td>
  <td>Check</td>
</tr>
<tr>
  <td>morganthecoolest</td>
  <td>Check</td>
  <td>Check</td>
  <td>Check</td>
  <td>Check</td>
  <td><i class="fas fa-check"></i></td>
</tr>

</table>

  </body>
</html>
