<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/homepage.js"></script>
  </head>
  <body>
    <nav>
      <span class="logo">Schoodle</span>
    </nav>
    <main class="container">
      <h2 class="plan">Plan Now...</h2>
      <div class="new-event d-flex">
        <form method="post" action="/">
          <div>
            <div class="d-flex justify-content-center">
              <i class="fas fa-user icon"></i>
              <input type="text" name="name" class="input-fields" placeholder="Your Name" required="required" maxlength="64">
            </div>
            <div class="d-flex justify-content-center">
              <i class="far fa-envelope icon"></i>
              <input type="email" name="email" class="input-fields" placeholder="Enter Your Email" required="required">
            </div>
            <div class="d-flex justify-content-center">
              <i class="far fa-lightbulb icon"></i>
              <input type="text" name="title" class="input-fields" placeholder="Enter Event Title" required="required" maxlength="64">
            </div>
            <div class="d-flex justify-content-center">
              <i class="fas fa-location-arrow icon"></i>
              <input type="text" name="location" class="input-fields" placeholder="Add Location(Optional)">
            </div>
            <div class="d-flex justify-content-center">
              <i class="far fa-comment-alt icon"></i>
              <textarea type="text" name="details" class="input-fields" placeholder="Add Details(Optional)" maxlength="1000"></textarea>
            </div>
          </div>
          <div class="all-events">
            <div class="event-date d-flex flex-row justify-content-center">
              <div class="year p-2">
                  <i class="far fa-calendar-alt"></i>
                  <select name="year" class="year" required="required">
                  <option selected value="">Choose Year</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                </select>
              </div>
              <div class="month p-2">
                <select name="month" class="month" required="required">
                  <option selected value="">Choose Month</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="day p-2">
                <select name="day" class="day" required="required">
                  <option selected value="">Choose Day</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
              <div class="start-time p-2">
                <i class="far fa-clock"></i>
                <label for="start-time">Start Time: </label>
                <input id="start-time" type="time" name="start_time" value="" required="required">
              </div>
              <div class="end-time p-2">
                <i class="fas fa-clock"></i>
                <label for="end-time">End Time: </label>
                <input id="end-time" type="time" name="end_time" value="" required="required">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button class="add" type="button">Add More Times</button>
          </div>
          <div class="submit-btn d-flex justify-content-center">
            <button class="submit" type="submit" href="/events">Confirm Your Event</button>
            <br />
          </div>
          <p class="instruction">Confirm Your Event and Share the URL on the Next Page With Your Friends!</p>
        </form>
      </div>
    </main>
  </body>
</html>
