nav {
  background-color: #e77753;
  height: 60px;

  .logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #435b66;
    margin-left: 20px;
    text-shadow: 5px 15px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    text-shadow: 5px 15px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    text-shadow: 25px 15px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    text-shadow: 5px 15px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}


body {
  background-color: #88A7AF;
}


body h2 {
  color: #244751;
  text-align:center;
  padding-top: 50px;
}


.div-class {
  height: 50px;
  width: 100px;
  background-color: black;
}

/* rowspan, colspan html attributes if you need them */
.event-table {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background: #F7F4EF;
  td, th {
    border: 1px solid grey;
    width: 50px;
  }
  td:first-child, th:first-child {
    border-radius: 5px;
    width: auto;
  }
border: 1px solid black;
border-radius: 5px;
}

.random {
  opacity: 0;
}

.icon:hover .random{
  opacity: 1;
}

input[type=checkbox]
{
  -webkit-transform: scale(1.8);
  margin-left: 12px;
  margin-top: 5px;
}


td:hover {
  background-color: lightblue;
}

.event-table:hover{
  cursor: pointer;
}

body p {
  text-align:center;
}
