$prime:#435b66;
$second:#88a7af;
$third:#f7f4ef;
$forth:#e3a94b;
$fifth:#e77753;

nav {
  background-color: $fifth;
  height: 60px;

  .logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: $prime;
    margin-left: 20px;
    text-shadow: 5px 15px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
  a {
    text-decoration: none;
  }
}

@keyframes float {
  0% {
    text-shadow: 5px 15px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    text-shadow: 25px 15px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    text-shadow: 5px 15px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}


body {
  background-color: $second;
}


body h1 {
  font-size: 50px;
  color: #244751;
  text-align:center;
}


.div-class {
  height: 50px;
  width: 100px;
  background-color: black;
}

/* rowspan, colspan html attributes if you need them */
.event-table {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(148,187,233,1) 100%);
  opacity: 80%;

  td, th {
    border: 1px solid grey;
    width: 50px;
    padding: 15px;
  }
  td:first-child, th:first-child {
    border-radius: 5px;
    width: auto;
  }
  th {
    color: white;
    width: 40%;
}
border: 1px solid black;
border-radius: 5px;
}

.icon {
  opacity: 0;
}

.new-part:hover .fa-user-plus {
  opacity: 1;
}

.user:hover .icon{
  opacity: 1;
}

.button{
  font-size:1.2em;
  margin-left: 570px;
  margin-top: 5px;
  border-radius: 5px;
}

input[type=checkbox]
{
  -webkit-transform: scale(1.8);
  margin-left: 12px;
  margin-top: 5px;
}

input:hover[type=checkbox]
{
  cursor: pointer;
}

td:hover {
  background-color: lightblue;
}

.event-table:hover{
  cursor: pointer;
}

body p {
  text-align:center;
}
