nav {
  background-color: #e77753;
  height: 60px;

  .logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #435b66;
    margin-left: 20px;
    text-shadow: 5px 15px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    text-shadow: 5px 15px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    text-shadow: 25px 15px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    text-shadow: 5px 15px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}


body {
  background-color: #88A7AF;
}


body h2 {
  color: #244751;
  padding-left: 400px;
  padding-top: 50px;
}

.div-class {
  height: 50px;
  width: 100px;
  background-color: black;
}

/* rowspan, colspan html attributes if you need them */
.event-table {
  margin-left: 200px;
  width: 30%;
  background: white;
  td, th {
    border: 2px solid grey;
    width: 50px;
  }
  td:first-child, th:first-child {
    width: auto;
  }
border: 1px solid black;
border-radius: 2px;
}

td:hover {
  background-color: lightgreen;
}

.event-table:hover{
  cursor: pointer;
}


header {
    height:80px;
    background:#E77753;
    border:1px solid #E77753;
    width:960px;
    margin:0px auto;
}

body p {
  padding-left: 400px;
}
